// Write your overrides
.invisible {
    display: none;
}

.visible {
    display: block;
}

.mb0 {
    margin-bottom: 0px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb40 {
    margin-bottom: 40px;
}

.ml0 {
    margin-left: 0px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml35 {
    margin-left: 35px;
}

.ml40 {
    margin-left: 40px;
}

.ml45 {
    margin-left: 45px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mt0 {
    margin-top: 0px;
}

.mt5 {
    margin-top: 5px;
}

.mt8 {
    margin-top: 8px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.p0 {
    padding: 0px;
}

.pb20 {
    padding-bottom: 20px;
}

.p20 {
    padding: 20px;
}

.pt5 {
    padding-top: 5px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pt60 {
    padding-top: 60px;
}

.left {
    float: left;
}

.right {
    float: right
}

.w25px {
    width: 25px;
}

.w40px {
    width: 40px;
}

.w50px {
    width: 50px;
}

.w100px {
    width: 100px;
}

.w150px {
    width: 150px;
}

.w200px {
    width: 200px;
}

.w300px {
    width: 300px;
}

.w400px {
    width: 400px;
}

.w-20 {
    width: 20%;
}

.w-49 {
    width: 49%;
}

.w-60 {
    width: 60%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.h300 {
    height: 300px;
}

.h340 {
    height: 340px;
}

.f12 {
    font-size: 12px !important;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.overflow-hidden {
    overflow: hidden;
}

.align-center,
.center {
    text-align: center;
}

.revert-flex {
    margin: 0;
    flex: revert;
}

#error p,
#success p {
    margin-block-end: 0;
}

.no-shadow {
    box-shadow: 0 0 0 0 !important;
}

.theme--light.v-application {
    background: lightsteelblue;
}
.theme--light.app-navigation-menu {
    background-color: unset !important;
}

.theme--light.v-subheader .title-wrapper span {
    background: none !important;
    color: white !important;
}

.theme--light.v-application .text--primary {
    color: white !important;
    margin-top: 12px;
}

.specialCard {
    color: black;
    box-shadow: 0 0 25px red;
}

.specialCardImg {
    max-width: 30px; height: 30px; left: 35px; top: -13px;
}

.theme--light.v-sheet,
.theme--light .v-list-item__title,
.theme--light .v-list-item__icon,
.theme--light.v-icon {
    color: white !important;
}

// Write your variable overrides
a.dashboardLink {
    text-decoration: none;
    margin-top: 15px;
    float: left;
    color: rgba(94, 86, 105, 0.87);
}

a.dashboardLink:hover {
    text-decoration: underline;
    color: blueviolet
}

.blueviolet {
    color: blueviolet
}

#spinner {
    margin: 20px;
    width: auto;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;

    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.radioButton {
    height: 20px;
    width: 20px;
    margin-top: 3px;
    position: relative;
    float: left;
}

.table td {
    border-bottom: 0px solid !important;
}

.border-grey {
    border: 1px solid lightgrey;
}

.border-bottom {
    border-bottom: thin solid rgba(94, 86, 105, 0.14);
}

.theme--light.v-data-table td.selected {
    color: white !important;
}

.alertPadding {
    padding: 20px 0 0 0;
}

.not-allowed {
    cursor: not-allowed;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.v-application .white-text {
    color: white;
}

.active {
    background: #007bff;
    color: white !important;
}

.relative {
    position: relative;
}

.setImg {
    width: 60px;
}

.complete {
    background: #28a745;
}

.working {
    background: darkorange;

}

.pointer { 
    cursor: pointer;
}

.theme--light.v-data-table tr.working td,
.theme--light.v-data-table tr.working td a, 
.theme--light.v-data-table tr.complete td,
.theme--light.v-data-table tr.complete td a {
    color: white !important;
    text-shadow: 1px 1px 13px black;
}

.theme--light.v-data-table tr:hover {
    background: lightgrey !important;
    color: white !important;
}

.special-img {
    margin-top: 13px;
    position: relative;
    float: left;
}

select {
    width: 100%;
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.icono {
    position: relative;
    float: left;
    border: 1p solid;
    width: 50px;
    text-align: center;
}

.icono-text {
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.icono-text-big {
    font-family: revert;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
}

.icono-text-big-small {
    font-size: 14px;
}

.icono-text-small {
    font-family: revert;
    font-size: 12px;
}

.icono-box {
    position: relative;
    float: left;
    width: 100%;
    color: #333;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
        Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

.item-box {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 40px;
}

div[size="ETIQUETA"] {
    color: black;
    background: white;
    padding-left: 20px;
    width: 7.5cm;
    height: 12cm;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    float: none;
    padding-top: 25px;
}

#dropdown-menu {
    position: absolute;
    z-index: 1;
    border: 1px solid lightgrey;
    width: 250px;
    border-radius: 3px;
    margin-top: 5px;
    background: #007bff;
    color: white;
    right: 0px;
}

#dropdown-menu a {
    padding: 12px;
    border-bottom: 1px solid white;
}

#dropdown-menu a:hover {
    background: lightseagreen;
}

.zoom {
    transition: transform .2s; /* Animation */
    width: 200px !important;
    height: 200px !important;
    margin: 0 auto;
}
  
.zoom:hover {
    transform: scale(1.5);
    z-index: 1;
}